@font-face {
  font-family: "NunitoSans-Regular";
  src: url("../fonts/NunitoSans-Regular.ttf") format("truetype");
  font-display: swap; }

@font-face {
  font-family: "YesevaOne-Regular";
  src: url("../fonts/YesevaOne-Regular.ttf") format("truetype");
  font-display: swap; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: "NunitoSans-Regular", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0; }

button {
  border: none; }
